.balance{
    color: black;
    margin-left: 10px;
}

.h4{
    font-size: 20px;
    margin-bottom: -20px;
    text-transform: capitalize;
    letter-spacing: 6px;
}

.h{
    font-size: 39px;
    font-weight: normal;
}

#green{
    color: green;
}
#red{color: red;}