.back{
    width: 35%;
    padding: 40px;
    margin: 2px auto;
    background-color: inherit;
    border-radius: 30px;

}
@media (max-width:1200px) {
    .back{
        width: 60%;
    }
}
@media (max-width:1000px) {
    .back{
        width: 80%;
    }
}
@media (max-width:800px) {
    .back{
        width: 95%;
    }
}
@media (max-width:600px) {
    .back{
        width: 100%;
    }
}


